@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.fade {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=141414&c2=878f8b&gt=l&gd=dtt
*/
  background: #141414;
  background: linear-gradient(180deg, #141414, #878f8b);
}

.consolFade {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=441010&c2=010101&gt=r&gd=dtr
*/
  background: #441010;
  background: radial-gradient(at right top, #441010, #010101);
}

/* index.css */
.input-placeholder::placeholder {
  color: #999; /* Replace 'green' with the exact color code you want */
}
